@model IEnumerable<DispensarioMedicoUnapec.Models.Ubicacion_Medicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Ubicación Medicamentos</h1>

<p>
    <a asp-action="Create">Agregar nueva ubicación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tramo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoMedicamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tramo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoMedicamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
