@model IEnumerable<DispensarioMedicoUnapec.Models.Medicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicamentos</h1>

<p>
    <a asp-action="Create">Crear nuevo Medicamento</a>
</p>
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Farmaco)
            </th>
            <th>Gestionar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Farmaco.Nombre)
                </td>
                <partial name="_MenuOptions" model="item.Id" />

            </tr>
        }
    </tbody>
</table>
