<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - DispensarioMedicoUnapec</title> *@
    <title>Dispensario Medico Unapec</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DispensarioMedicoUnapec.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>
<body class="m-0">
    @* <header> *@
    @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dispensario Medico Unapec</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tipo_Farmacos" asp-action="Index">Tipos Farmacos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Medicamentos" asp-action="Index">Medicamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ubicacion_Medicamentos" asp-action="Index">Ubicacion Medicamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Medicos" asp-action="Index">Medicos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
    @* </header> *@
    <main role="main" class="d-flex flex-nowrap">
        @{
            string test = "active";
            string isActive(string CurrentController)
            {
                if (ViewContext.RouteData.Values["Controller"]?.ToString() == CurrentController){

                    return "active";
                }else
                {
                    return "text-white";
                }
            }
        }
        <div class="d-flex flex-column flex-shrink-0 text-bg-dark vh-100 pt-2" style="width:20%">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none ps-2"><span class="fs-4">Dispensario Medico</span> </a> <hr> <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link @isActive("Home")"  aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#home"></use></svg>
                        Home
                    </a>
                </li>
                <li>
                    <a class="nav-link @isActive("Pacientes")" asp-area="" asp-controller="Pacientes" asp-action="Index">
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#Pacientes"></use></svg>
                        Pacientes
                    </a>
                </li>
                <li>
                    <a class="nav-link @isActive("Medicos")" asp-area="" asp-controller="Medicos" asp-action="Index">
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#Medicos"></use></svg>
                        Medicos
                    </a>
                </li>
                <li>
                    <a class="nav-link @isActive("Medicamentos")" asp-area="" asp-controller="Medicamentos" asp-action="Index">
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#Medicamentos"></use></svg>
                        Medicamentos
                    </a>
                </li>
                <li>
                    <a class="nav-link @isActive("Tipo_Farmacos")" asp-area="" asp-controller="Tipo_Farmacos" asp-action="Index">
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#Tipo_Farmacos"></use></svg>
                        Tipo de Farmacos
                    </a>
                </li>
                <li>
                    <a class="nav-link @isActive("Marcas")" asp-area="" asp-controller="Marcas" asp-action="Index">
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#Marcas"></use></svg>
                        Marcas
                    </a>
                </li>
                <li>
                    <a class="nav-link @isActive("Ubicacion_Medicamentos")" asp-area="" asp-controller="Ubicacion_Medicamentos" asp-action="Index">
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#Ubicacion_Medicamentos"></use></svg>
                        Ubicación Medicamentos
                    </a>
                </li>
            </ul> <hr> <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> <strong>mdo</strong> </a> <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style=""> <li><a class="dropdown-item" href="#">New project...</a></li> <li><a class="dropdown-item" href="#">Settings</a></li> <li><a class="dropdown-item" href="#">Profile</a></li> <li><hr class="dropdown-divider"></li> <li><a class="dropdown-item" href="#">Sign out</a></li> </ul> </div>
        </div>
        <div class="d-flex flex-column ps-3" style="width:85%; height: 100vh;overflow: auto;">
            @RenderBody()
        </div>
    </main>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Dispensario Medico Unapec - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
