@model IEnumerable<DispensarioMedicoUnapec.Models.Medico>

@{
    ViewData["Title"] = "Index";
}

<h1>Médicos</h1>

<p>
    <a asp-action="Create">Agregar nuevo Médico</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCarnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TandaLaboral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoMedico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroCarnet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TandaLaboral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoMedico)
                </td>
                <partial name="_MenuOptions" model="item.Id" />

            </tr>
        }
    </tbody>
</table>
